/*Styling für Inputfield*/
#task{
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px;
}

#eingabe{
    width: 50px;
    margin-left: 5px;
    border-radius: 15px;
    border-color: black;
    background-color: lightblue;
    grid-row: 1;
    grid-column: 3;
}

#eingabelbl{
    margin-right: 10px;
    color: black;
    font-size: 18px;
}

/*allgemeins styling für die Forms*/
.form{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Styling für TodoList*/
#lielement{
    list-style: none;
    margin-top: 0;
}

.libutton{
    margin-left: 3px;
    border-color: black;
    background-color: lightblue;
    border-radius: 15px;
}