/*allgemeins styling für die Forms*/
.form{
    display: grid;
    justify-content: center;
}

/* Styling für TodoList*/
#lielement{
    display: grid;
    justify-content: center;
    list-style: none;
}

.libutton{
    margin: 5px;
}